section
{
  background:yellow;
}
.banner
{
  background: black;
  min-height:200px;
}
.banner .row
{
  text-align:center;
  margin-top:50px;
}
.banner h1
{
  color:white;
}



/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(255,255,255,0.0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: rgba(255,255,255,1.0);

    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}




